[Desktop Entry]
Type=Application
Name=Qirtas
GenericName=Markdown Notebook
Comment=Focused markdown notebook
Exec=qirtas
Icon=org.qirtas.notebook
Terminal=false
Categories=Office;TextEditor;
Keywords=markdown;notes;editor;notebook;writing;
StartupNotify=true
StartupWMClass=org.qirtas.notebook
